body {
  background:#f8f4ff;
}

button {
	background:white;	
}

a, h1, h2, h3 {
	color:purple;
}

.nav, .navshadow {
	background:white;
}

.card {
	background:white;
}

.sugarpage {
	background:white;
}

.card-sigil {
	border: 3px solid #c5aede;
}

.cardmedium {
	border:1px solid grey;  /* remove color from core */
}

.cardline {
	border:1px solid purple; /* todo remove color from commoncore */
}

.respond {
	border:2px dotted purple;  /* remove color from core */
}

.smallbutton {
	background:white;	
}

.bigbutton {
	border:3px solid plum;
}

.biginput {
	border:3px solid plum;
}


/* basic effects */

.underline { text-decoration: none; }
.underline:hover { text-decoration: underline; }

.good {
  color: green;
  background-color:#e0ffe0  
}

.warning {
  color: orange;
  background-color:#ffffe0
}

.bad {
  color: red;
  background-color:#ffe0e0
}

.danger {
  color:red;
  background-color:#ffe0e0  
}

.problem {
  color:red;
  background-color:#ffe0e0  
}

.cancel {
  border-color: grey;
  background-color:#e0e0e0
}



