
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --mycardwidth:800px;
  --mycardpadding:8px;
  --mycardmargin:8px;
  --mypadding:4px;
  --myflexgap:4px;
}

html,body,div,span,img,input,textarea,button,canvas,a,h1,h2,h3,p {
  font-family: 'Lato';  
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  word-break: break-word;
}

p, div, input, textarea {
  font-family: 'Cantarell', sans-serif;
}

.page {
  width:100%;
  height:100%;
  overflow:auto;
  display:block;
}

.subpage {
  display:block;
  box-sizing: border-box;
  width:var(--mycardwidth);
  height:100%;
  margin-top:var(--mycardmargin);
  margin-bottom:var(--mycardmargin);
  margin-left:auto;
  margin-right:auto;
  padding:var(--mycardpadding);
}

@media screen and (max-width:800px) {
  .subpage {
    width:100%;
  }
}

.hidden { display:none; }

